body{
    background-color: rgb(222, 227, 186);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.left{
    text-align: left;
}
li{
    text-align: left;
}
img{
    margin-top: -200px;
    margin-bottom: 0px;
    margin-right: 25px;
    margin-left: auto;
    width: 400px;
    height: 400px;
    float: right;
   
}
.block{
    display: inline-block;
}
h3{
    text-align: left;
}
